{% extends 'company-base.html' %}

{% block content %}
<h1>О платформе</h1>
<div class="about-section">
    <p>ООО "АнноВизио" - это инновационная компания, специализирующаяся на разработке передовых технологий в
        области
        компьютерного зрения. Наша платформа предоставляет уникальную возможность автоматической аннотации и
        генерации обучающих наборов данных для моделей искусственного интеллекта.</p>

    <p>Мы стремимся к превосходству в качестве и инновациях, чтобы обеспечить нашим клиентам наилучшие решения для
        успешной работы с данными и моделями компьютерного зрения. Мы гордимся партнерством с Фондом содействия
        инновациям РФ, который поддерживает наши усилия в развитии новейших технологий и продвижении инноваций нашей
        страны.</p>

    <p>Мы верим в возможности и потенциал искусственного интеллекта и стремимся сделать его доступным и эффективным
        для всех. Наша команда профессионалов готова помочь вам в поиске инновационных решений и воплощении ваших
        идей в жизнь с помощью передовых технологий.</p>

    <p>Выбирайте "АнноВизио" - выбирайте качество, надежность и инновации в области компьютерного зрения!</p>
</div>
{% endblock %}