{% extends 'company-base.html' %}

{% block content %}
<h1>Сотрудничество</h1>
<div class="cooperation-section">
    <h2>Преимущества сотрудничества</h2>
    <p>
        Сотрудничество с нашей компанией дает вам следующие преимущества:
    </p>
    <ul>
        <li>Доступ к передовым технологиям видеоаналитики и компьютерного зрения</li>
        <li>Высококвалифицированная команда специалистов</li>
        <li>Индивидуальный подход к каждому проекту</li>
        <li>Гибкие условия сотрудничества</li>
        <li>Конкурентоспособные цены</li>
    </ul>
    <h2>Контакты</h2>
    <p>
        Для получения более подробной информации о сотрудничестве, пожалуйста, свяжитесь с нами по следующим
        контактам:
    </p>
    <ul>
        <li>Телефон: +7 (965) 507-68-25</li>
        <li>Электронная почта: <a href="gmailto:info@annovizio.com">markklimoff@gmail.com</a></li>
    </ul>
</div>
{% endblock %}