<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/style.css') }}" />
</head>

<body id="drop-area">
  <header>
    Тестовая платформа
    <img src="{{ url_for('static', path='/images/logoHeader.png') }}" class="logoHeader" alt="О компании" />
  </header>
  <nav>
    <ul>
      <li>
        <a href="/" title="О компании">
          <img src="{{ url_for('static', path='/images/logo.png') }}" class="logo" alt="О компании" /></a>
      </li>
      <li>
        <a href="/video/annotation-video" title="Аннотация видео">
          <img src="{{ url_for('static', path='/images/video-annotation.png') }}" class="navImages"
            alt="Аннотация видео" /></a>
      </li>
  </nav>

  <div class="content">{% block content %} {% endblock %}</div>

  <div class="footer">
    <div class="footer-container1">
      <p><a href="/">О компании</a></p>
      <p><a href="/company-cooperation">Сотрудничество</a></p>
      <img src="{{ url_for('static', path='/images/logoFooter.png') }}" class="logoFooter" alt="О компании" />
    </div>
    <div class="footer-container2">
      <div>
        <p>Платформа разработана при поддержке:</p>
      </div>
      <a href="https://fasie.ru/m/" target="_blank">
        <img src="{{ url_for('static', path='/images/fond.png') }}" class="fond-logo" />
      </a>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</html>