{% extends 'user-profile-base.html' %}

{% block profile %}
<div class="wide right-section-bank">
    <div class="bank-cards">
        <h2>Банковские карты</h2>
        <div class="bank-card">
            <img src="{{ url_for('static', path='/images/bank.png') }}" alt="Банк 1">
            <div class="bank-card-info">
                <h3>Название банка</h3>
            </div>
            <div class="bank-card-info">
                <p>**** **** **** 1234</p>
            </div>
            <div class="bank-card-info">
                <p>Mastercard</p>
            </div>
            <button class="delete-btn">
                <img src="{{ url_for('static', path='/images/deleteAnnotation.png') }}" alt="Удалить">
            </button>
        </div>
        <div class="bank-card add-card">
            <p>Добавьте карту</p>
            <a href="/user-cards-post"><button class="add-btn">
                    <img src="{{ url_for('static', path='/images/addTarget.png') }}" alt="Добавить">
                </button></a>
        </div>
    </div>
    <div class="accounts">
        <h2>Счета</h2>
        <div class="account">
            <img src="{{ url_for('static', path='/images/bank.png') }}" alt="Банк 3">
            <div class="account-info">
                <h3>Название банка</h3>
            </div>
            <div class="bank-card-info">
                <p>**** **** **** 1234</p>
            </div>
            <div class="bank-card-info">
                <p>Текущий</p>
            </div>
            <button class="delete-btn">
                <img src="{{ url_for('static', path='/images/deleteAnnotation.png') }}" alt="Удалить">
            </button>
        </div>
        <div class="account add-account">
            <p>Добавьте счет</p>
            <a href="/users/accounts-post"><button class="add-btn">
                    <img src="{{ url_for('static', path='/images/addTarget.png') }}" alt="Добавить">
                </button></a>
        </div>
    </div>
</div>
{% endblock %}