{% extends 'company-base.html' %}

{% block content %}
<h1>Помощь (часто задаваемые вопросы)</h1>
<div class="help">
    <div class="question-container">
        <h3>Как зарегистрироваться на сайте?</h3>
        <div class="help-arrow"></div>
        <div class="answer">
            <h3>Ответ:</h3>
            <p>Чтобы зарегистрироваться на сайте, нужно перейти на главную страницу и нажать кнопку
                "Зарегистрироваться".
                Затем заполните все необходимые поля и нажмите кнопку "Зарегистрироваться". После этого вы получите
                письмо
                на указанный электронный адрес с подтверждением регистрации.</p>
        </div>
    </div>
    <div class="question-container">
        <h3>Как восстановить пароль?</h3>
        <div class="help-arrow"></div>
        <div class="answer">
            <h3>Ответ:</h3>
            <p>Чтобы восстановить пароль, нужно перейти на страницу входа и нажать кнопку "Восстановить пароль". Затем
                введите электронный адрес, указанный при регистрации, и нажмите кнопку "Восстановить пароль". После
                этого вы
                получите письмо на указанный электронный адрес с инструкциями по восстановлению пароля.</p>
        </div>
    </div>
    <div class="question-container">
        <h3>Как удалить аккаунт?</h3>
        <div class="help-arrow"></div>
        <div class="answer">
            <h3>Ответ:</h3>
            <p>Чтобы удалить аккаунт, нужно перейти в настройки профиля и нажать кнопку "Удалить аккаунт". Затем
                подтвердите
                удаление аккаунта и все данные, связанные с ним, будут удалены.</p>
        </div>
    </div>
</div>
<script type="module" src="{{ url_for('static', path='/js/script_help.js') }}"></script>
{% endblock %}