{% extends 'company-base.html' %}

{% block content %}
<h1>Корзина</h1>
<div class="cart">
    <div class="datasets-cart">
    </div>
    <div class="order-card-cart">
        <div class="top-section-cart">
            <button>Оформить заказ</button>
        </div>
        <div class="middle-section-cart">
            <h2>Ваша корзина</h2>
            <p>Количество выбранных в корзине товаров: <span id="quantity"></span></p>
            <p>Ваши товары: <span id="total-price"></span></p>
        </div>
    </div>
</div>
<script type="module" src="{{ url_for('static', path='/js/script_cart.js') }}"></script>
{% endblock %}