{% extends 'user-profile-base.html' %}

{% block profile %}
<div class="wide right-section-bank">
    <div class="bank-cards">
        <h2>Мои подписки</h2>
        <div class="security-card">
            <div class="bank-card-info">
                <h3>Уровень подписки</h3>
                <p class="levelSubInfo">
                    <img src="{{ url_for('static', path='/images/baseLevel.png') }}" class="levelSub"
                        alt="уровень подписки">
                    Базовый
                </p>
                <a href="/user-subscription-put" class="change-btn">
                    Изменить уровень
                </a>
            </div>
            <div>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>
{% endblock %}