{% extends 'user-autentification-base.html' %}

{% block autentification %}
<h2>Авторизация</h2>
<form class="login-form" method="post" onsubmit="return login(event)">
    <div class="input-container">
        <input type="text" id="username" name="username" required>
        <label for="username">Логин (никнейм или email)</label>
    </div>
    <div class="input-container">
        <input type="password" id="password" name="password" required>
        <label for="password">Пароль</label>
    </div>
    <a href="/auth/password-put" class="forgot-password">Восстановить пароль</a>
    <button type="submit">Войти</button>
</form>
<a href="/auth/registration" class="register-link">Еще не зарегистрированы?</a>
<script type="module" src="{{ url_for('static', path='/js/script_register_login.js') }}"></script>
{% endblock %}