{% extends 'user-profile-base.html' %} {% block profile %}
<div class="wide right-section-account">
  <div class="narrow top-section">
    <div class="header-right">
      <div class="profile-icon">
        <img src="{{ url_for('static', path='/images/profile2.png') }}" alt="Profile Icon" />
      </div>
      <div class="profile-info" id="profile-info">
        <p id="user-name">Никнейм: {{ user.username }}</p>
        <p id="user-verified">Статус учетной записи: {% if user.is_verified == true %} подтверждена {% else %}
          не подтверждена {% endif %}</p>
      </div>
    </div>
  </div>
  <div class="wide bottom-section">
    <div class="footer-right">
      <p id="user-email"> Email: {{ user.email }} <a href="/users/account-put" class="change-email-link">Изменить</a>
      </p>
      <a href="/users/password-put" class="change-password-link">Сменить пароль</a>
      <a href="/users/account-delete" class="delete-account-link">Удалить учетную запись</a>
      <a href="#" class="delete-account-link" id="logOutLink">Выйти</a>
    </div>
  </div>
</div>
{% endblock %}