{% extends 'user-autentification-base.html' %}

{% block autentification %}
<h2>Смена пароля</h2>
<form class="change-password-form">
    <div class="input-container">
        <input type="text" id="login" name="login" required>
        <label for="login">Логин (никнейм или email)</label>
    </div>
    <button type="submit">Далее</button>
</form>
<a href="/auth/registration" class="register-link">Еще не зарегистрированы?</a>
<a href="/auth/login" class="register-link">Уже зарегистрированы?</a>
<a href="/users/account" class="register-link">Вернуться</a>
{% endblock %}